@page "/servers"
@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<h3>Servers</h3>
<br />
<br />


<CityListComponent @rendermode="InteractiveServer"></CityListComponent>


<div class="input-group mb-3">
	<input type="text" class="form-control" placeholder="Search Servers" @bind-value="serverFilter" @bind-value:event="oninput"/>
	<button class="btn btn-outline-secondary" type="button" id="button-search" @onclick="HandleSearch">Search</button>
</div>

<br />
	<a href="/servers/add" class="btn btn-primary">Add Server</a>
<br />


<ServerListComponent @rendermode="InteractiveServer" CityName="Perth"></ServerListComponent>

@code {
	private string _serverFilter = "";
	private string serverFilter {
		get => _serverFilter;
		set {
			_serverFilter = value;
			// do whatever you want here
			HandleSearch();
		}
	}

	// private void HandleServerFilterChange(ChangeEventArgs args) {
	// 	serverFilter = args.Value?.ToString() ?? string.Empty;
	// }

	private void HandleSearch() {
		//this.servers = ServersRepository.SearchServers(serverFilter);
		//this.selectedCity = string.Empty;
	}
}
