@page "/servers"
@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<h3>Servers</h3>
<br />
<br />


<CityListComponent SelectCityCallback="HandleCitySelection"></CityListComponent>


<SearchBarComponent 
	@rendermode="InteractiveServer"
	SearchServerCallback="HandleSearchServer"></SearchBarComponent>

<br />
	<a href="/servers/add" class="btn btn-primary">Add Server</a>
<br />


<ServerListComponent 
	@rendermode="InteractiveServer" 
	CityName="@this.selectedCity"
	SearchFilter="@this.searchFilter"></ServerListComponent>

@code {
	private string selectedCity = "Perth";
	private string searchFilter = "";


	private void HandleSearchServer(string searchFilter) {
		this.searchFilter = searchFilter;
	}

	

	private void HandleCitySelection(string cityName) {
		selectedCity = cityName;
	}

}
