@page "/servers"
@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<h3>Servers</h3>
<br />
<br />


<CityListComponent @ref="cityListComponent" SelectCityCallback="HandleCitySelection"></CityListComponent>

<br />

<SearchBarComponent 
	@rendermode="InteractiveServer"
	@ref="searchBarComponent"
	SearchServerCallback="HandleSearchServer"></SearchBarComponent>

<br />
	<a href="/servers/add" class="btn btn-primary">Add Server</a>
<br />
<br />

<CascadingValue Name="SelectedCity" Value="@selectedCity">
	<ServerListComponent 
		@rendermode="InteractiveServer" 
		CityName="@this.selectedCity"
		SearchFilter="@this.searchFilter"></ServerListComponent>
</CascadingValue>

@code {
	private string selectedCity = "Perth";
	private string searchFilter = "";

	private CityListComponent? cityListComponent;
	private SearchBarComponent? searchBarComponent;

	private void HandleCitySelection(string cityName) {
		this.selectedCity = cityName;
		this.searchFilter = string.Empty;

		searchBarComponent?.ClearFilter();
	}

	private void HandleSearchServer(string searchFilter) {
		this.searchFilter = searchFilter;

		cityListComponent?.ClearSelection();
	}
}
