@inject NavigationManager NavigationManager

@if (this.servers != null && this.servers.Count > 0) {
	<ul>
		<Virtualize Items="this.servers" Context="server">
			<li @key="server.ServerId">
				<ServerComponent Server="server"></ServerComponent>
			</li>
		</Virtualize>
	</ul>
}

@code {
	[Parameter]
	public string? CityName { get; set; }

	private List<Server>? servers;

	// This is called when the parameters are set with values
	protected override void OnParametersSet() {
		servers = ServersRepository.GetServerByCity(CityName?? "Toronto");
	}

	
}
