<div style="color: @(server.IsOnline ? "green" : "red")">
	@server.Name is in @server.City that is @(server.IsOnline ? "online" : "offline")
</div>

@code {
	private Server server = new Server { Name = "Server 1", City = "Perth" };
}
